body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    width: 150px;
    margin-right: 5px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a3b18a;
    color: #2b2839;
    border-bottom: 10px solid #344e41;
    border-right: 5px solid #dad7cd;
    border-radius: 2em;
    flex-direction: row-reverse;
        
}

.border-blue {
    border: 1px dotted blue;
}